**LabelEcoder**

In [14]:
import pandas as pd

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
df = pd.DataFrame({
    'color':['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [17]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [18]:
# create an instence of label encoder
encoder = LabelEncoder()

In [19]:
encoded = encoder.fit_transform(df['color']) 
# alphabetically assign

In [22]:
encoded

array([2, 0, 1, 1, 2, 0])

In [33]:
df_encoder = pd.DataFrame(encoded,columns=['encoder'])

In [34]:
pd.concat([df, df_encoder], axis=1)

   color  encoder
0    red        2
1   blue        0
2  green        1
3  green        1
4    red        2
5   blue        0

sometimes model understand green is greater than  blue or blue is smaller than green

**Ordinal Encoder**

Rank wise data

In [56]:
from sklearn.preprocessing import OrdinalEncoder

In [57]:
df = pd.DataFrame({
    'size':['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [58]:
# create an instance of the Ordinal encoder class and fit transform
encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [59]:
encoder = encoder.fit_transform(df[['size']])

In [60]:
encoder

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

0 is small 

1 is medum 

2 is large

In [47]:
# df['new_encode'] = pd.DataFrame(encoder)

In [ ]:
# df

In [61]:
df_encode = pd.DataFrame(encoder, columns=['encoder'])

In [62]:
df_encode

   encoder
0      0.0
1      1.0
2      2.0
3      1.0
4      0.0
5      2.0

In [63]:
pd.concat([df, df_encode], axis=1)

     size  encoder
0   small      0.0
1  medium      1.0
2   large      2.0
3  medium      1.0
4   small      0.0
5   large      2.0