**Normal/OHE Emcoding**

In [2]:
import pandas as pd

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.DataFrame({'color':['red', 'blue', 'green', 'green', 'red', 'blue']})

In [5]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [6]:
# create an instence of One Hot Encoder
encoder = OneHotEncoder()

In [7]:
# fit the encoder to the dataframe and transform the categorical variable
encoder.fit_transform(df[['color']]) # dataframe always in array

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

if you want to see how to fit encoder so use toarray()

In [8]:
encoder.fit_transform(df[['color']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [9]:
encoded =encoder.fit_transform(df[['color']])

In [10]:
encoded_df =pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out()) # encoder.get_feature_names_out() means find the colums

In [11]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [12]:
encoded_df.dtypes

color_blue     float64
color_green    float64
color_red      float64
dtype: object

In [13]:
pd.concat([df, encoded_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0