**1. Upsampling Data**

**2. Downsampling Data**

In [15]:
import numpy as np
import pandas as pd

In [10]:
# set the ramdom seed for reproduciblity
# seed every time generate same number
np.random.seed(123)

# create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9

n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [11]:
n_class_0, n_class_1

(900, 100)

Create Dataset

In [18]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size= n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size= n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=2, scale=1, size= n_class_1),
    'feature_2':np.random.normal(loc=2, scale=1, size= n_class_1),
    'target':[1]*n_class_1
})

Merge Dataset

In [19]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [20]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [21]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

Upsampling

In [22]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [23]:
df_majority

     feature_1  feature_2  target
0    -1.774224   0.285744       0
1    -1.201377   0.333279       0
2     1.096257   0.531807       0
3     0.861037  -0.354766       0
4    -1.520367  -1.120815       0
..         ...        ...     ...
895  -0.896718   2.540514       0
896   0.812571  -0.082706       0
897   0.637361   0.444621       0
898   0.332712   1.896404       0
899   0.258237   0.237581       0

[900 rows x 3 columns]

In [24]:
df_minority

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1
..         ...        ...     ...
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

[100 rows x 3 columns]

upsampling perform

In [25]:
from sklearn.utils import resample

In [27]:
df_minority_upsample = resample(df_minority,
                                replace= True, #sample with replacement if False sample replace with any random variable
                                n_samples= len(df_majority), #to match the majority class
                                random_state=42) #any value you can write)

In [28]:
df_minority_upsample.shape

(900, 3)

In [29]:
df_upsample = pd.concat([df_majority, df_minority_upsample])

after upsampling

In [30]:
df_upsample['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

before upsampling

In [35]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [33]:
df_upsample

     feature_1  feature_2  target
0    -1.774224   0.285744       0
1    -1.201377   0.333279       0
2     1.096257   0.531807       0
3     0.861037  -0.354766       0
4    -1.520367  -1.120815       0
..         ...        ...     ...
952   1.766644   1.532225       1
965   1.527330   2.182477       1
976   2.463277   0.795616       1
942   2.930412   1.067353       1
974   1.866832   2.723282       1

[1800 rows x 3 columns]

**Downsampling**

Creating dataset

In [36]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size= n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size= n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=2, scale=1, size= n_class_1),
    'feature_2':np.random.normal(loc=2, scale=1, size= n_class_1),
    'target':[1]*n_class_1
})

In [37]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [38]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [43]:
df_majority_dowmsample = resample(df_majority,
                                replace= False, # false because we reduce dataset so dont need to replace 
                                n_samples= len(df_minority), #to match the minority class
                                random_state=42) #any value you can write)

In [44]:
df_majority_dowmsample.shape

(100, 3)

In [45]:
df_downsample = pd.concat([df_minority, df_majority_dowmsample])

In [46]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64