Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [23]:
import pandas as pd

In [5]:
df = pd.DataFrame({'time':[3, 4, 5, 6, 7, 8],
                   'exam_score':[72, 86, 81, 92, 90, 100]})

In [6]:
df

   time  exam_score
0     3          72
1     4          86
2     5          81
3     6          92
4     7          90
5     8         100

In [7]:
df.corr(method='pearson')

                time  exam_score
time        1.000000    0.903629
exam_score  0.903629    1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [11]:
df = pd.DataFrame({'sleep':[4, 5, 6, 7, 8, 9],
                   'satisfication':[2, 5, 8, 8, 9, 10]})

In [12]:
df

   sleep  satisfication
0      4              2
1      5              5
2      6              8
3      7              8
4      8              9
5      9             10

In [13]:
df.corr(method='spearman')

                  sleep  satisfication
sleep          1.000000       0.985611
satisfication  0.985611       1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [43]:
import numpy as np
x = np.linspace(1,5,50)
y = np.linspace(18,25,50)

In [44]:
df = pd.DataFrame({'exercise':x,
                   'BMI':y})

In [46]:
df.head()

   exercise        BMI
0  1.000000  18.000000
1  1.081633  18.142857
2  1.163265  18.285714
3  1.244898  18.428571
4  1.326531  18.571429

shuffle dataset

In [48]:
shuffle = df['exercise'].sample(frac=1).reset_index(drop=True)
df['exercise'] = shuffle

In [50]:
shuffle = df['BMI'].sample(frac=1).reset_index(drop=True)
df['BMI'] = shuffle

In [51]:
df.head()

   exercise        BMI
0  3.938776  20.714286
1  1.653061  22.714286
2  2.551020  21.428571
3  2.224490  19.285714
4  2.387755  21.142857

In [52]:
df.corr(method='pearson')

          exercise      BMI
exercise   1.00000 -0.19491
BMI       -0.19491  1.00000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [53]:
import pandas as pd
import numpy as np

In [55]:
x = np.linspace(1,8,50)
y = np.linspace(10,1,50)

In [56]:
df = pd.DataFrame({'television':x,
                   'physical':y})

In [57]:
df.head()

   television   physical
0    1.000000  10.000000
1    1.142857   9.816327
2    1.285714   9.632653
3    1.428571   9.448980
4    1.571429   9.265306

In [58]:
df.corr(method='pearson')

            television  physical
television         1.0      -1.0
physical          -1.0       1.0

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [59]:
df = pd.DataFrame({'age':[25, 42, 37, 19, 31, 28],
                   'soft drink prefrence':['coke', 'pepsi', 'mountain dew', 'coke', 'pepsi', 'coke']})

In [73]:
df1 = pd.DataFrame({'age':[25, 42, 37, 19, 31, 28],
                   'soft drink prefrence':['coke', 'pepsi', 'mountain dew', 'coke', 'pepsi', 'coke']})

In [60]:
df

   age soft drink prefrence
0   25                 coke
1   42                pepsi
2   37         mountain dew
3   19                 coke
4   31                pepsi
5   28                 coke

In [61]:
from sklearn.preprocessing import OneHotEncoder

In [62]:
encoder = OneHotEncoder()

In [64]:
encoded = encoder.fit_transform(df[['soft drink prefrence']])

In [67]:
encoded_df = pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out())

In [68]:
encoded_df

,soft drink prefrence_coke,soft drink prefrence_mountain dew,soft drink prefrence_pepsi
0,1.0,0.0,0.0
1,0.0,0.0,1.0
2,0.0,1.0,0.0
3,1.0,0.0,0.0
4,0.0,0.0,1.0
5,1.0,0.0,0.0

In [69]:
dummies = pd.get_dummies(df['soft drink prefrence'])
dummies

   coke  mountain dew  pepsi
0     1             0      0
1     0             0      1
2     0             1      0
3     1             0      0
4     0             0      1
5     1             0      0

In [74]:
df1 = pd.concat([df1, dummies], axis=1)

In [75]:
df1

   age soft drink prefrence  coke  mountain dew  pepsi
0   25                 coke     1             0      0
1   42                pepsi     0             0      1
2   37         mountain dew     0             1      0
3   19                 coke     1             0      0
4   31                pepsi     0             0      1
5   28                 coke     1             0      0

In [76]:
df1.corr()

                   age      coke  mountain dew     pepsi
age           1.000000 -0.837240      0.394132  0.576439
coke         -0.837240  1.000000     -0.447214 -0.707107
mountain dew  0.394132 -0.447214      1.000000 -0.316228
pepsi         0.576439 -0.707107     -0.316228  1.000000

In [71]:
df = pd.concat([df, encoded_df], axis=1)

In [72]:
df.corr()

,age,soft drink prefrence_coke,soft drink prefrence_mountain dew,soft drink prefrence_pepsi
age,1.000000,-0.837240,0.394132,0.576439
soft drink prefrence_coke,-0.837240,1.000000,-0.447214,-0.707107
soft drink prefrence_mountain dew,0.394132,-0.447214,1.000000,-0.316228
soft drink prefrence_pepsi,0.576439,-0.707107,-0.316228,1.000000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [77]:
x = np.linspace(1,10,30)
y = np.linspace(1,40,30)

In [78]:
df = pd.DataFrame({'per day':x,
                   'per week' :y})

In [80]:
df.head()

    per day  per week
0  1.000000  1.000000
1  1.310345  2.344828
2  1.620690  3.689655
3  1.931034  5.034483
4  2.241379  6.379310

In [81]:
df.corr(method='pearson')

          per day  per week
per day       1.0       1.0
per week      1.0       1.0